// 去掉内外边距
%none {
  margin: 0;
  padding: 0;
}

%flex {
  display: flex;
  display: -webkit-flex;
}

// 显示边框（调试作用）
@mixin debug($color:red) {
  border: 1px dashed $color;
}

// 设置宽高
@mixin wh($width,$height) {
  width: $width;
  height: $height;
}

// 设置阴影
@mixin shadow($shadowVal:0 0 2px #ababab) {
  box-shadow: $shadowVal;
}

// 设置圆角
@mixin radius($val: 5px) {
  border-radius: $val;
}

// 不允许选择
%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

// 选中颜色
@mixin selection($color,$background) {
  ::-moz-selection { /* Code for Firefox */
    color: $color;
    background: $background;
  }

  ::selection {
    color: $color;
    background: $background;
  }
}