@import "../../style/lib";

#container {
  width: 740px;
  margin: 58px auto auto;
  box-sizing: border-box;
}



// 移动端样式修正
#app[ispe="true"]{
  #container{
    margin: 50px auto auto;
    width: 100%;
  }
}