@import "../../style/lib";

.feed-item {
  background: white;
  width: 100%;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  border-radius: 2px;
  padding: 16px 20px;
  margin-bottom: 12px;
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
  // 来源文字样式（第一行）
  &-from {
    color: #8590a6;
    font-size: 15px;
  }
  // 标题（第二行）
  &-title {
    font-size: 18px;
    font-weight: 600;
    a{
      color: #1a1a1a;
      &:hover {
        color: #205296;
      }
    }
  }
  // 内容（第三行）
  &-content {
    color: #1a1a1a;
    font-size: 15px;
    line-height: 25px;
    word-break: break-all;
    &-more {
      color: #175199;
      margin-left: 4px;
      cursor: pointer;
    }
  }

  // 行公共样式
  & > div > div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// 移动端样式修正
#app[ispe="true"] {
  .feed-item {
    margin-bottom: 8px;
  }
}