@import "../../style/lib";

body {
  @extend %none;
  background: #F6F6F6;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

html, input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

input, textarea {
  box-sizing: border-box;
}

// 按钮风格的 cursor
.btn-cursor {
  cursor: pointer;
}

// 选择前景色
@include selection(white, #47BAD1);