@import "../../style/lib";

$defaultHeaderHeight: 46px;

#header {
  //@include debug();
  width: 100%;
  height: $defaultHeaderHeight;
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  text-align: center;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  #header-body {
    //@include debug(blue);
    @extend %flex;
    margin: auto;
    width: 740px;
    height: $defaultHeaderHeight;
    align-items: center; /*指定垂直居中*/
    justify-content: space-between;

    // 导航
    ul {
      //@include debug(blue);
      padding: 0;
      li {
        //@include debug(green);
        float: left;
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        line-height: 30px;
        &:first-child {
          margin-left: 0;
          margin-right: 24px;
          height: 30px;
          svg {
            fill: #0084ff;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #8590a6;
          &:hover, &.active {
            color: #444;
          }
        }
      }
    }

    // LOGO 区域
    & > a {
      //@include debug(green);
      span {
        //@include debug(blue);
        font-size: 30px;
        color: lighten(#1898D8, 15%);
      }
    }
  }
}

// 移动端样式修正
#app[ispe="true"] {
  #header {
    #header-body {
      & > ul {
        margin-left: 10px;
      }
      & > a {
        margin-right: 10px;
      }
      width: 100%;
    }
  }
}